<section data-ng-controller="HomeController">
	<div style="margin-top:10px">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 ">
				<img alt="AppDev" class="zimg-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
	</div>
	<br/>
	<br/>
	<div class="text-center">
		<h2>Sample application is running !</h2>
		<p>You should now start to change everything !!!</p>
		<br/>
		<p>This template includes all of the libraries that mean.js supplied but has had the articles sample removed.</p>
		<p>The template also includes the Tedious library for using SQL Server, angular-validation-match and an updated NUH stylesheet</p>
		
	</div>
	
</section>
